body {
    font-family: 'Lexend Dexa';
    color: #333;
    font-size: 0.95em;
  	background-image: url("bg.jpg");
  	/*background-color: #1c1c1c;*/
    background-repeat: no-repeat;
  	background-size: cover;
}
button{
  top: 70px;
  right: 500px;
  color:black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family:'Pangolin',cursive;

}
button:hover{
  background-color: black;
  color: green;
}
